/* Some tablets mis-report orientation, leaving white at bottom: */

*{margin:0;padding:0;}

html ,body { background-color: #d1d1d1; height:100%;width:100%;}

canvas{display:block;}

#header{
      margin:0px;
      padding:0px;
}
h2 {
	border-bottom: 1px solid #b3b3b3;
	font-size: 1.4em; /* 1.6em; */
	font-weight: normal;
	margin: 0.3em 0px 0.6em 0px; 
	padding-bottom: 0em;
	color: #114a80;
}
h3 { 
	font-size: 1em;
	font-weight: bold;
	margin: 0.8em 0px 0.5em 0px;
	text-shadow: #FFFFFF 0px 1px 1px;
}
.description{
    border:1px solid #CCCCCC;
    border-color: #636263 #464647 #A1A3A5;
    margin:10px 5px;
    height:165px;
    border-radius: 4px;
}

#content{
     margin:0px;
     padding:0px;
}

.scroll-item {
        position: relative;
        width: 100%;
        height: 32px;
        border-bottom:1px solid gray;
        cursor: pointer;
}
.item-even {
        background-color: #E7E8EC;
}
.item-odd {
        background-color: #E0ECF6;
}
.rect {
        float: left;
        margin-top: 5px;
        margin-left: 5px;
        width: 20px;
        height: 20px;
        border-radius: 3px;
}

.item-text{
        margin-left: 5px;
        height: 100%;
        float: left;
        font-size: 14px;
        font-family: Î¢ÈíÑÅºÚ;
        vertical-align: middle;
        display: inline-block;
        line-height: 30px;
}
.button{
    border:1px solid #cccccc;
    cursor:pointer;
    margin:10px 5px;
    height:40px;
    text-align:center;
    border-radius: 4px;
    border-color: #636263 #464647 #A1A3A5;
    text-shadow: 0 1px 1px #F6F6F6;
    background-image: -moz-linear-gradient(center top, #D9D9D9, #A6A6A6 49%, #A6A6A6 50%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D9D9D9),color-stop(1, #A6A6A6));
}
.buttonText{
    position:relative;
    font-weight:bold;
    top:10px;
    font-family:Î¢ÈíÑÅºÚ;
    color:#58595B;
}

.ui-page {
          backface-visibility: hidden;
         -webkit-backface-visibility: hidden; /* Chrome and Safari */
         -moz-backface-visibility: hidden; /* Firefox */
}

.in, .out {
         -webkit-animation-timing-function: ease-in-out;
         -webkit-animation-duration: 350ms;
}

#wrapper {
		/* Of course you need to specify the object height */
	position:relative;	/* On older OS versions "position" and "z-index" must be defined (absolute | relative), */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */

	width:100%;
	background:#aaa;
	overflow:hidden;
}
#scroller {
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);

	float:left;
	width:100%;
	padding:0;

/*	-webkit-box-shadow:0 0 8px #555;	/* Don't use box shadows, they slow down drastically CSS animations */
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	 
}



#scroller li > a {
	display:block;
}

